body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #2f4538;
    color: white;
    padding: 5px 0;
}

#map {
    height: 80vh;
    width: 100%;
}
