body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #2c3e50;
    color: white;
    padding: 10px 0;
}

#map {
    height: 80vh;
    width: 100%;
}

.default-marker {
    background-color: #3388ff;
    border-radius: 50%;
    width: 25px;
    height: 41px;
    border: 2px solid #fff;
}

.clicked-marker {
    background-color: #ff0000; /* Красный цвет при нажатии */
    border-radius: 50%;
    width: 25px;
    height: 41px;
    border: 2px solid #fff;
}
