body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #2f4538;
    color: white;
    padding: 10px 0;
    width: 600px;  /* Фиксированная ширина */
    height: 80px;  /* Фиксированная высота (если нужно) */
    margin: 0 auto;
}

#map {
    height: 80vh;
    width: 100%;
}
